{% include post-tags.html %}

{% assign category = page.categories[ 0 ] %}
<div class="post-footer">
    <div>
        <h2 id="GitHub-File">GitHub File</h2>
        <a href="https://github.com/arikim92/arikim92.github.io/blob/master/{{ page.path }}" target="_blank">GitHub 에서 원문보기</a>
    </div>
    <div>
        <h2 id="Category">Category</h2>
        <a href="/category/#{{ category }}">{{ category }}</a>
    </div>
    <div>
        <h2 id="Tags">Tags</h2>
        <p class="post-tag">{{ tags_list }}</p>
    </div>
</div>

{% if page.comments %}
<h2>Comments</h2>
<a href="{{ site.url }}{{ page.url }}#disqus_thread">0 Comments</a>
<div id="disqus_thread"></div>
<script>
/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
 */

var disqus_config = function () {
	this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

var disqus_shortname = '{{ site.disqus }}';

(function() {  // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//' + 'disqus_shortname' + '.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

<!-- Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 수평형 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6063771498918889"
     data-ad-slot="1705300851"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<h2 class="fas fa-feather">{{ category | upcase }} 의 다른 글</h2>
<ul class="posts-list">
    {% for scc in site.categories[ category ] %}
    <li>
        <h3>
            <a href="{{ site.baseurl }}{{ scc.url }}">{{ scc.title }}</a>
            <small>{{ scc.date | date_to_string }}</small>
        </h3>
    </li>
    {% endfor %}
</ul>